body {
    background: rgb(0, 66, 87);
}
.caja {
    background-color: rgb(229, 235, 238);
    width: 100%;
    min-height: 90vh;
    text-align: center;
}

.subCaja {
    width: 90%; 
    margin-left: 5%;
}
